News-App-Flow-JSON
[
    {
        "id": "8004cd0d.5fb54",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7804fef.8f7c",
        "type": "ui_form",
        "z": "8004cd0d.5fb54",
        "name": "",
        "label": "",
        "group": "ab915b9b.f6a328",
        "order": 0,
        "width": "8",
        "height": "10",
        "options": [
            {
                "label": "Enter your preference",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "f4db18ba.4196b8"
            ]
        ]
    },
    {
        "id": "f4db18ba.4196b8",
        "type": "function",
        "z": "8004cd0d.5fb54",
        "name": "",
        "func": "msg={\n    discoveryparams:\n    {\n    \"environment_id\":\"system\",\n    \"query\":msg.payload.input\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "817b321e.db45e"
            ]
        ]
    },
    {
        "id": "817b321e.db45e",
        "type": "watson-discovery-v1",
        "z": "8004cd0d.5fb54",
        "name": "newsapp",
        "environmentname": "",
        "environmentId": "system",
        "collectionId": "news-en",
        "configurationname": "",
        "configurationId": "",
        "language_code": "en",
        "collection_name": "",
        "count": "1",
        "passages": true,
        "nlp_query": true,
        "query": "",
        "filter": "",
        "aggregation": "",
        "return": "",
        "description": "",
        "size": "LT",
        "discovery-method": "query",
        "service-endpoint": "https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/fbdd4b84-9109-4c34-9a7a-724545035445",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "5c2f1605.1e9d28"
            ]
        ]
    },
    {
        "id": "5c2f1605.1e9d28",
        "type": "function",
        "z": "8004cd0d.5fb54",
        "name": "",
        "func": "msg.payload=msg.search_results.results[0].text\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "30e40e9d.91bed2"
            ]
        ]
    },
    {
        "id": "8d9d145b.2c37b8",
        "type": "ui_text",
        "z": "8004cd0d.5fb54",
        "group": "ab915b9b.f6a328",
        "order": 1,
        "width": "8",
        "height": "4",
        "name": "results",
        "label": "NEWS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "30e40e9d.91bed2",
        "type": "sentiment",
        "z": "8004cd0d.5fb54",
        "name": "",
        "property": "payload",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "ff74d3f3.13527",
                "da54aa15.cdf138"
            ]
        ]
    },
    {
        "id": "ff74d3f3.13527",
        "type": "function",
        "z": "8004cd0d.5fb54",
        "name": "",
        "func": "msg.payload+=\"<br>\"+\"Sentiment:\"+ msg.sentiment.score;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "8d9d145b.2c37b8",
                "d6d97170.33e4b"
            ]
        ]
    },
    {
        "id": "d6d97170.33e4b",
        "type": "debug",
        "z": "8004cd0d.5fb54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "2a7e597d.0f2ff6",
        "type": "ui_gauge",
        "z": "8004cd0d.5fb54",
        "name": "",
        "group": "ab915b9b.f6a328",
        "order": 0,
        "width": "8",
        "height": "3",
        "gtype": "gage",
        "title": "Sentiment",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#e80000",
            "#e6e600",
            "#07e802"
        ],
        "seg1": "",
        "seg2": "",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "da54aa15.cdf138",
        "type": "function",
        "z": "8004cd0d.5fb54",
        "name": "",
        "func": "msg.payload = msg.sentiment.score;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "2a7e597d.0f2ff6"
            ]
        ]
    },
    {
        "id": "ab915b9b.f6a328",
        "type": "ui_group",
        "z": "",
        "name": "LPN",
        "tab": "d74d1152.7d52",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "d74d1152.7d52",
        "type": "ui_tab",
        "z": "",
        "name": "LPN",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
